<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header(pageTitle)">
        <nav>
            <ul>
                <li><strong th:text="${pageTitle}">Page Title</strong></li>
            </ul>
            <ul>
                <li><a th:href="@{/}" th:text="#{nav.home}">Home</a></li>
                <li><a th:href="@{/ui/buildings}" th:text="#{nav.buildings}">Buildings</a></li>
                <li><a th:href="@{/secured}">Secured</a></li>
                <li><a th:href="@{/(lang=en)}">EN</a> | <a th:href="@{/(lang=nl)}">NL</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
